@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #555;
}

.game-board {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: stretch;
  padding: 2rem;
  gap: 1rem;
}

.board-field {
  background-color: lightgrey;
  border-radius: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1;
}

.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.symbol {
  font-size: 3rem;
  font-family: 'Nunito', sans-serif;
  font-weight: 900;
  color: #555;
  margin-top: 0.5rem;
}

.popup-primary-button,
.popup-secondary-button {
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  font-size: 0.75rem;
  border: none;
  border-radius: 0.25rem;
  padding: 1rem 2rem;
  margin: 0.5rem;
  color: white;
}

.popup-primary-button {
  background-color: darkgreen;
}
.popup-primary-button:hover {
  background-color: green;
}
.popup-secondary-button {
  background-color: darkred;
}
.popup-secondary-button:hover {
  background-color: red;
}

.headline {
  color: white;
  margin-bottom: 0.5rem;
  font-size: 3rem;
}

.subtitle {
  color: white;
  margin-bottom: 3rem;
  font-size: 1rem;
  font-weight: 400;
}

.result {
  color: white;
  margin-bottom: 3rem;
}